<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>After 12</title>

<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,700,500italic,400" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css">
<link rel="stylesheet" href="styles/main.css" />




</head>
<body>



  <section class="container">

    <div class="header">
      <div class="headerchatbox boxstructure">after 12</div>
    </div>

    <div class="mainbody">
      <div class="chatbox boxstructure">

      </div>

    </div>

    <div class="footer">
      <div class="footerchatbox boxstructure">
      <div class="input-container">
        <input type="text" class="input" placeholder="(Click here to type)"><!--
        --><button class="submit">+</button>
        </div>
      </div>
    </div>


  </section>

<script type="text/template" data-template-name="message">
  <li>
    <div class ="leftside">
      <span class="message"><%= (message) ? message : "&&NOMESSAGE" %></span>
    </div>
    <div class="center">
          <span class="info-details">by <%= (username) ? username : "&&NONAME"  %></span>
          <span class="timestamp">:date</span>
    </div>

    <div class="rightside">
          <span class="actions">
            <i class="fi-star"></i>
          </span>
    </div>
  </li>
</script>


<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="scripts/main.js"></script>


</body>
</html>
