<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>After 12</title>

<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,700,500italic,400" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css">
<link rel="stylesheet" href="styles/main.css" />




</head>
<body>



  <section class="container">

    <div class="header">
      <div class="headerchatbox boxstructure">after 12</div>
    </div>

    <div class="mainbody">
      <div class="chatbox boxstructure">

      </div>

    </div>

    <div class="footer">
      <div class="footerchatbox boxstructure">
      <div class="input-container">
        <input type="text" class="input" placeholder="(Please enter a username)"><!--
        --><button class="submit"><i class="fi-key"></i></button>
        <p class="username-display">-- chatting as "<span class="current-user">guest</span>"</p>
        </div>
      </div>
    </div>


  </section>

<script type="text/template" data-template-name="message">
  <li>
    <div class ="leftside">
      <span class="message"><%= msg.message %></span>
    </div>
    <div class="center">
          <span class="info-details">by <%= msg.username %></span>
          <span class="timestamp"><%= moment(msg.createdAt, 'x').fromNow() %></span>
    </div>

    <div class="rightside">
          <span class="actions">
            <i class="fi-star"></i>
            <% if (msg.appName && msg.appName === "After12") { %>
              <a class="delete" href="#a" data-id="<%= msg._id %>"><i class="fi-x"></i></a>
            <% } %>
          </span>
    </div>
  </li>
</script>


<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="scripts/main.js"></script>


</body>
</html>
