@import 'bourbon/bourbon';
$visual-grid: true;
@import 'neat/neat';

//CLEAR BORDER PROPERTIES

*,
*::before,
 *::after {
  box-sizing: border-box;
}


//PAGE LAYOUT POINTS

$mobile: new-breakpoint(max-width 500px 4);
$tablet: new-breakpoint(max-width 840px 6);


//FONT COLORS

$capecod: rgb(81, 81, 81);
$aluminum: rgb(153, 153, 153);
$oil: rgb(51, 51, 51);
$zircon: rgb(225, 225, 225);
$bokaragray: rgb(40, 40, 40);
$white: rgb(255, 255, 255);

//FONT FAMILY

$main-font: "Roboto", "Inconsolata", "Open Sans", sans-serif;
$secondary-font: "Roboto", "Open Sans", "Inconsolata", sans-serif;
$tertiary-font: "Open Sans", "Inconsolata", sans-serif;

.container{
  border-radius: 7px;
}

.header .mainbody .footer {
  @include omega(2n);

}

headerchatbox

.boxstructure {
  @include span-columns(12);
  @include omega();
  display: block;

}

.header {
  height: 50px;
  background-color: $white;
  font-family: $main-font;
  color: $zircon;
  font-size: 24px;
  border-bottom: 1px solid $oil;


}

.mainbody {
  //height: 500px;
  background-color: $white;
  font-family: $secondary-font;

}

.insidestructure {
  @include span-columns(4);
  display: inline-block;

}


li{

  border-bottom: 1px dotted $aluminum;
  vertical-align: center;
  margin: 10px 0 0 20px;
}

.leftside{
  display: inline-block;
  width: 70%;
  line-height: 1.5em;
}

.message{
  margin: 0px 50px 10px 20px;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: top;
}

.center{
  display: inline-block;
  width: 20%;
}

.info-details{
  font-size: 10px;
  font-style: italic;
}

.timestamp{
  font-size: 9px;
  font-family: $tertiary-font;
  font-weight: bold;
}

.rightside{
  display: inline-block;
  width: 5%;
}

.fi-marker{
  font-size:20px;
}

.actions{
  display: inline-block;
  text-align: right;
}

.footer{
  height: 100px;
  background-color:$oil;
  font-family: $secondary-font;
  color:$oil;
  border-top: 1px solid $oil;
}

.input-container {
  //border: 1px solid gray;
  text-align: center;
  width: 70%;
  margin: 10px auto 0 0;
  background-color: $oil;
  padding: 20px;
  .input, .submit {
    border: none;
    outline: false;
    background-color: $oil;
    transition: all ease 1s;
    &:hover,
    &:hover+.submit {
      border: 1px dotted #ddd;
    }
    &:hover {
      border-right-color: transparent;
    }
    &:hover+.submit {
      border-left-color: transparent;
    }
    &:focus{
      background-color: #ddd;
      color: $oil;
    }
    &:focus+.submit{
      background-color: #ddd;
      color: $oil;
      border-left: 1px dotted $oil;
    }
  }

  .input {
    width: 90%;
    height: 40px;
    font-size: 20px;
    font-family: "Helvetica", sans-serif;
    outline: none;
    background-color: $oil;
    border-radius: 20px 0 0 20px;
    padding-left: 20px;
  }
  .submit {
    height: 40px;
    line-height: 30px;
    font-size: 30px;
    color: white;
    padding: 0 10px 5px 10px;
    border: none;
    //border: 1px solid #ddd;
    border-radius: 0 20px 20px 0;
    vertical-align: top;
    background-color: $oil;
  }
}
